@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #001e2b;
  color: #afb4af;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 400px;
  margin-left: 150px;
  margin-top: 50px;
}

.singin-form {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}

.redirect-link {
  color: #008000;
  text-decoration: none;
  margin-left: 1rem;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
  height: 35px;
  background-color: #374945;
  color: #afb4af;
  border: 1px solid #374945;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.submit-signin,
.submit-signup {
  padding: 0.5rem 1rem;
  max-width: 100px;
  cursor: pointer;
  background-color: #008000;
  color: #001e2b;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.message {
  color: #ffffff;
  margin-top: 40px;
  font-weight: 300;
}

.message.error {
  color: #bd1b0f;
}
